body {
  background-color: #f6f6f6;
  height: 120vh;
  width: 100vw;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  background-color: #E2E2E2;
  text-align: center;
  height: 40px;
  padding: 30px;
  color: black;
  font-size: 30px;
}
